:root {
    --white: #fff;
    --primary: #334a86
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
}



img {
    width: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
}

#container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid #999; */
    min-height: 100vh;
}

header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: var(--primary);
}

img {
    width: 150px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

li a {
    color: var(--white);
    padding: 10px 10px;
    /* border: 1px solid red; */
    font-size: 1.1em;
}

.hero {
    background-color: var(--primary);
    min-height: 80vh;
}
.some-of-works {
    width: 60%;
    margin: 0 auto;
}
#some-of-works {
    text-align: center;
    display: grid;
}
.what-we-do .what-we-do-sections {
    padding: 10px;
    display: flex;
}